@model SurveyApp.Models.Survey

<h2>Rozwiązujesz: @Model.Title</h2>
<p><i>@Model.Description</i></p>
<hr />

<form action="/Survey/SubmitVote" method="POST">
    <input type="hidden" name="ankietaId" value="@Model.Id" />

    @foreach (var pytanie in Model.Questions)
    {
        <div class="mb-4 p-3 bg-light border">
            <h4>@pytanie.Text</h4>
            <hr />
            
            @foreach (var opcja in pytanie.Options)
            {
                <input type="radio" name="pytanie_@pytanie.Id" value="@opcja.Id" required /> 
                <label>@opcja.Text</label> <br />
            }
        </div>
    }
    
    <button type="submit" class="btn btn-success btn-lg">Zatwierdź całą ankietę</button>
    <a href="/Survey/Index" class="btn btn-danger btn-lg">Zrezygnuj</a>
</form>